#!/bin/sh

# Organization: MDIBL
# Author: Lucie Hutchins
# Date: August 2017
#
SHORT_NAME=ncbi
NAME="NCBI Database"

FTP_SITE=ftp.ncbi.nih.gov

HTTP_SITE=www.ncbi.nih.gov

## Taxonomy of interest to us
TAXA="Danio_rerio
Homo_sapiens
M_musculus"

## Annotations of interest to us
# 1) genome data for mus_musculus CHR 3 is under /genomes/M_musculus/CHR_03/mm_ref_GRCm38.p4_chr3.fa.gz
# 2) genome data for D_rerio CHR 3 is under /genomes/D_rerio/CHR_03/dr_ref_GRCz11_chr3.fa.gz
# 3) genome data for Homo_sapiens CHR 3 is under /genomes/Homo_sapiens/CHR_03/hs_ref_GRCh38.p7_chr3.fa.gz
# 4) genes info  data  is under /gene/DATA/gene_info.gz

## Db connection if any
