#!/bin/sh

# Organization: MDIBL
# Author: Lucie Hutchins
# Date: August 2017
#
TOP=`pwd`
WORKING_DIR=`realpath $TOP`
comment="Downloads Superfamily Annotations "
DATASET="genomes"

SRC_CONFIG_BASE=$DATA_DOWNLOADS_BASE/superfamily
SRC_CONFIG=superfamily/superfamily.cfg
source $SRC_CONFIG_BASE/superfamily.cfg


# set path of files on remote server
REMOTE_SITE=${HTTP_SITE}

#url to remote site
REMOTE_SITE_URL=http://$REMOTE_SITE
REMOTE_DIR=/$HTTP_ROOT

#Local directory relative to data downloads root directory
# 
LOCAL_DIR=${SHORT_NAME}/$DATASET


## List of files to download
#
REMOTE_FILES="LICENSE
README
*.tab.gz
"

#
# wget options
WGET_OPTIONS=" --user=$REMOTE_USER --password=$REMOTE_PASSWORD --no-parent -S -t 10 -nd -m"

#******** Optional *************
# create a symbolic link for this source
#
create_src_symlink=false
# Remove any files in local directory that are not in remote directory
do_deletes=false
recursive=false


#
# wget
# -S = print the headers sent by HTTP servers and responses sent by FTP servers.
# -o = full path to log file
# -O = full path to output file
# -t = number of retries
# -r = reverse
# -k 7 = sort by the 7th column
# -nd = don't create directories
# -m = Turn on options suitable for mirroring. This option turns on recursion 
#    and time-stamping, sets infinite recursion depth and keeps FTP 
#    directory listings. It is currently equivalent to .-r -N -l 
#    inf --no-remove-listing.. 
