#!/bin/sh

# Organization: MDIBL
# Author: Lucie Hutchins
# Date: September 2019
#
SHORT_NAME=pfam
NAME="PFAM Database"

FTP_SITE=ftp.ebi.ac.uk
# set path of files on remote server
PROTOCOL=ftp://
REMOTE_SITE=${PROTOCOL}${FTP_SITE}
BASE_DIR=pub/databases/Pfam/current_release

## List of files to download
# Relative to remote_site base
#
declare -A DATASETS
DATASETS[current_release]="
$BASE_DIR/*
"

# wget options
remote_user=anonymous
remote_password=biocore@mdibl.org

WGET_OPTIONS=" --user=$remote_user --password=$remote_password --no-parent -S -t 10 -nd -m"

#******** Optional *************
# create a symbolic link for this source
#
create_src_symlink=false
# Remove any files in local directory that are not in remote directory
do_deletes=false
recursive=false


#
# wget
# -S = print the headers sent by HTTP servers and responses sent by FTP servers.
# -o = full path to log file
# -O = full path to output file
# -t = number of retries
# -r = reverse
# -k 7 = sort by the 7th column
# -nd = don't create directories
# -m = Turn on options suitable for mirroring. This option turns on recursion 
#    and time-stamping, sets infinite recursion depth and keeps FTP 
#    directory listings. It is currently equivalent to .-r -N -l 
#    inf --no-remove-listing.. 

