#!/bin/sh

# Organization: MDIBL
# Author: Lucie Hutchins
# Date: August 2017
#
SHORT_NAME=mgi
NAME="Mouse Genome Database"

PROTOCOL=http://
HTTP_SITE=www.informatics.jax.org
REPORTS_BASE=downloads/reports
# set path of files on remote server
REMOTE_SITE=${PROTOCOL}${HTTP_SITE}

## List of files to download
#
declare -A DATASETS
DATASETS[gene_ontology]="${REPORTS_BASE}/gene_association.mgi.gz 
${REPORTS_BASE}/go_terms.mgi 
${REPORTS_BASE}/gp2protein.mgi"
DATASETS[alleles_and_phenotypes]="${REPORTS_BASE}/MPheno_OBO.ontology 
${REPORTS_BASE}/VOC_MammalianPhenotype.rpt 
${REPORTS_BASE}/HMD_HumanPhenotype.rpt 
${REPORTS_BASE}/MGI_PhenotypicAllele.rpt"
DATASETS[gene_expression]="${REPORTS_BASE}/MRK_GXD.rpt 
${REPORTS_BASE}/MRK_GXDAssay.rpt 
${REPORTS_BASE}/adult_mouse_anatomy.obo 
${REPORTS_BASE}/ma2ncit.obo"

ANNOTATIONS="Gene Ontology,Alleles and Phenotypes,Gene Expression"


