#!/bin/sh

# Organization: MDIBL
# Author: Lucie Hutchins
# Date: August 2017
#
SHORT_NAME=mgi
NAME="Mouse Genome Database"

PROTOCOL=http://
HTTP_SITE=www.informatics.jax.org
REPORTS_BASE=downloads/reports
# set path of files on remote server
REMOTE_SITE=${PROTOCOL}${HTTP_SITE}

## List of files to download
# Relative to remote_site base
#
declare -A DATASETS
DATASETS[gene_ontology]="${REPORTS_BASE}/gene_association.mgi.gz 
${REPORTS_BASE}/go_terms.mgi 
${REPORTS_BASE}/gp2protein.mgi"
DATASETS[alleles_and_phenotypes]="${REPORTS_BASE}/MPheno_OBO.ontology 
${REPORTS_BASE}/VOC_MammalianPhenotype.rpt 
${REPORTS_BASE}/HMD_HumanPhenotype.rpt 
${REPORTS_BASE}/MGI_PhenotypicAllele.rpt"
DATASETS[gene_expression]="${REPORTS_BASE}/MRK_GXD.rpt 
${REPORTS_BASE}/MRK_GXDAssay.rpt 
${REPORTS_BASE}/adult_mouse_anatomy.obo 
${REPORTS_BASE}/ma2ncit.obo"

ANNOTATIONS="Gene Ontology,Alleles and Phenotypes,Gene Expression"


# wget options
remote_user=anonymous
remote_password=biocore@mdibl.org

WGET_OPTIONS=" --user=$remote_user --password=$remote_password --no-parent -S -t 10 -nd -m"

#******** Optional *************
# create a symbolic link for this source
#
create_src_symlink=false
# Remove any files in local directory that are not in remote directory
do_deletes=false
recursive=false


#
# wget
# -S = print the headers sent by HTTP servers and responses sent by FTP servers.
# -o = full path to log file
# -O = full path to output file
# -t = number of retries
# -r = reverse
# -k 7 = sort by the 7th column
# -nd = don't create directories
# -m = Turn on options suitable for mirroring. This option turns on recursion 
#    and time-stamping, sets infinite recursion depth and keeps FTP 
#    directory listings. It is currently equivalent to .-r -N -l 
#    inf --no-remove-listing.. 

