#!/bin/sh

# Organization: MDIBL
# Author: Lucie Hutchins
# Date: August 2017
#
TOP=`pwd`
WORKING_DIR=`realpath $TOP`
comment="Downloads Mirbase Annotations (genes) Data"
DATASET="annotations"

SRC_CONFIG_BASE=$DATA_DOWNLOADS_BASE/mirbase
SRC_CONFIG=mirbase/mirbase.cfg
source $SRC_CONFIG_BASE/mirbase.cfg


# set path of files on remote server
REMOTE_SITE=${FTP_SITE}
RELEASE_NUMBER=`$DATA_DOWNLOADS_BASE/getCurrentReleaseNumber.sh $SRC_CONFIG`

#url to remote site
REMOTE_SITE_URL=ftp://$REMOTE_SITE
REMOTE_DIR=/$FTP_ROOT/$RELEASE_NUMBER

#Local directory relative to data downloads root directory
# 
LOCAL_DIR=${SHORT_NAME}/$RELEASE_NUMBER


## List of files to download
#
REMOTE_FILES="high_conf_hairpin.fa.gz 
high_conf_mature.fa.gz
hairpin.fa.gz
mature.fa.gz
database_files/mature_read_count.txt.gz
miFam.dat.gz
miRNA.dat.gz
"

#
# wget options
remote_user=anonymous
remote_password=biocore@mdibl.org

WGET_OPTIONS=" --user=$remote_user --password=$remote_password --no-parent -S -t 10 -nd -m"

#******** Optional *************
# create a symbolic link for this source
#
create_src_symlink=false
# Remove any files in local directory that are not in remote directory
do_deletes=false
recursive=false


#
# wget
# -S = print the headers sent by HTTP servers and responses sent by FTP servers.
# -o = full path to log file
# -O = full path to output file
# -t = number of retries
# -r = reverse
# -k 7 = sort by the 7th column
# -nd = don't create directories
# -m = Turn on options suitable for mirroring. This option turns on recursion 
#    and time-stamping, sets infinite recursion depth and keeps FTP 
#    directory listings. It is currently equivalent to .-r -N -l 
#    inf --no-remove-listing.. 
