#!/bin/sh

# Organization: MDIBL
# Author: Lucie Hutchins
# Date: May 2018
#
SHORT_NAME=biogrid
NAME="BioGRID"
REPOS_TAG_PATTERN="^[0-9]+\.[0-9]+\.[0-9]+$"
HAS_RELEASE=true
MANNUAL_UPDATE=true

#Path to data on remote server
# https://downloads.thebiogrid.org/BioGRID/Latest-Release/
# https://downloads.thebiogrid.org/BioGRID/Release-Archive/BIOGRID-3.4.160//BIOGRID-ALL-LATEST.tab2.zip
#
HTTP_SITE=downloads.thebiogrid.org
PROTOCOL=https://
REMOTE_DIR=/BioGRID/Release-Archive/BIOGRID-$RELEASE_NUMBER
REMOTE_SITE=${PROTOCOL}${HTTP_SITE}${REMOTE_DIR}
#
## List of files to download
#
declare -A DATASETS
DATASETS[annotations]="BIOGRID-ALL-LATEST.tab2.zip"

# path to data locally
RELEASE_DIR=release-${RELEASE_NUMBER}

# wget options
remote_user=anonymous
remote_password=biocore@mdibl.org

WGET_OPTIONS=" --user=$remote_user --password=$remote_password --no-parent -S -t 10 -nd -m"

#******** Optional *************
# create a symbolic link for this source
#
create_src_symlink=false
# Remove any files in local directory that are not in remote directory
do_deletes=false
recursive=false


#
# wget
# -S = print the headers sent by HTTP servers and responses sent by FTP servers.
# -o = full path to log file
# -O = full path to output file
# -t = number of retries
# -r = reverse
# -k 7 = sort by the 7th column
# -nd = don't create directories
# -m = Turn on options suitable for mirroring. This option turns on recursion 
#    and time-stamping, sets infinite recursion depth and keeps FTP 
#    directory listings. It is currently equivalent to .-r -N -l 
#    inf --no-remove-listing.. 
